$color-primary: #22577A;
$color-secondary: #FEC10B;

$color-gray-light: #C7C7C7;
$color-gray-dark: #525252;

$color-success: #52A102;
$color-danger: #DF2923;
$color-warning: #FFC247;
$color-info: #0D3B66;

$color-black: #131313;
$color-white: #FFFFFF;
