$layout-max-container-width: 100%;
$layout-grid-columns: 12;

$layout-breakpoints: (
        sm: 0,
        md: 768px,
        lg: 1024px
);

$layout-grid-gap: (
        sm: 12px,
        md: 12px,
        lg: 12px,
);

$layout-grid-offset: (
        sm: 24px,
        md: 48px,
        lg: 64px,
);

@mixin breakpoint($width, $type: min) {
  @if map_has_key($layout-breakpoints, $width) {
    $width: map_get($layout-breakpoints, $width);

    @if $type == max {
      $width: $width - 1;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
