.order {
  position: relative;

  &+& {
    margin-top: 1.2rem;
    padding-top: 1.2rem;
    border-top: 1px solid $color-gray-light;
  }
}

.order__link {
  color: $color-primary;
  text-align: right;

  & svg {
    max-width: 1rem;
  }

  &:hover,
  &:active {
    color: $color-primary--active;
  }
}

.order__icon {
  max-width: 1.2rem;
  position: absolute;
  right: 0;

  color: $color-primary;

  &:hover,
  &:active {
    color: $color-primary--active;
  }
}
