.page {

}

.page__heading {
  display: flex;
  align-items: center;
}

.page__title {
  display: inline-block;
  flex: 1 0 0%;
}

.page__heading-icon {
  width: 100%;
  max-width: 1.8rem;
  color: $color-primary;

  &:active,
  &:hover {
    color: $color-primary--active;
  }
}
