.item-table {
  display: none;

  @include breakpoint(lg) {
    display: table;
    width: 100%;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    border-collapse: collapse;
  }
}

.item-table__row {
  td {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-top: 1px solid rgba($color-primary, .4);
  }
}

.item-table__header {
  text-align: left;
  padding-bottom: .8rem;
}
